rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /generations/{docId} {
      allow read: if true;
      allow create: if true;
    }
    match /favorites/{docId} {
      allow read, write: if true;
    }
    match /templates/{docId} {
      allow read: if true;
      allow write: if true;
    }
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      match /generations/{genId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
    match /publishedTemplates/{docId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'araiakhylbek78@gmail.com';
    }
  }
}
